<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.oracle.maf.email"
    version="0.1.0">
    <name>Email</name>
    <description>MAF Email Plugin</description>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdfmfEmail">
                <param name="ios-package" value="AdfmfEmailAdaptor" />
            </feature>
        </config-file>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
	    <feature name="AdfmfEmail">
                <param name="android-package" value="oracle.adfmf.phonegap.AdfmfEmail" />
    	    </feature>
        </config-file>

    </platform>
</plugin>
